.container{
    display: grid;
   grid-template-columns: repeat(5, 200px);
    /* grid-template-columns: 200px 200px 200px 200px 200px; */
    justify-content: center;
    justify-content: space-between;
    
}
.item{
    border: 2px solid aquamarine;
}